{% extends "_layout.html" %}

{% block content -%}
<section class="product">
  <div class="grid">
    <div class="head row">
      <h1 class="logo">
        <img class="logo-mark" width="46" height="46" src="{{ get_url(path='img/eloquentlog-logo-72x72.png') }}" alt="Eloquentlog" />
        <span class="logo-type">Eloquentlog</span>
      </h1>
    </div>
    <div class="row">
      <div class="column-8 column-l-16">
        <p class="description">
          An activity log sharing service to get profound motivation from each other.<br/>
          It's fully open source, and actively <a href="https://gitlab.com/eloquentlog">under development</a>.
        </p>
        <p>The repositories are mirrored also on <a href="https://github.com/eloquentlog">GitHub.com</a>.</p>

        <div class="screenshot">
          <h2>Screenshot</h2>
          <a href="{{ get_url(path='img/eloquentlog-web-console-20200715.png') }}"><img class="screenshot" height="180" src="{{ get_url(path='img/eloquentlog-web-console-20200715.png') }}" alt="Screenshot (20200715)" /></a>
          <span class="caption">with dark mode support ;)</span>
        </div>

        <div class="roadmap">
          <h2>Roadmap</h2>
          <a href="https://gitlab.com/eloquentlog/eloquentlog/tree/master"><img src="https://img.shields.io/badge/Status-Alpha-yellow.svg" alt="status" /></a>
          <a href="https://eloquentlog.zulipchat.com/"><img src="https://img.shields.io/badge/Chat-Join_Zulip-4ebfac.svg" alt="project chat" /></a>
          <div class="stage">
            <h3>Alpha<span class="version">..v0.0.1</span></h3>
            <h4>Goal</h4>
            <ul class="goal">
              <li>To make core service concept clear</li>
              <li>To create sustainable development cycle towards to the initial Beta</li>
            </ul>
            <h4>Milestones</h4>
            <ul class="alpha">
              <li><span class="check">√</span> Foundational authentication mechanism</li>
              <li><span class="check">√</span> Basic web UI components</li>
              <li>Account management interface</li>
              <li>Basic logging interface</li>
              <li>Create a public staging environment for APIs and web console ー <a href="https://web.eloquentlog.com/">web.eloquentlog.com</a></li>
              <li>Automated deployment</li>
              <li>Experimental CLI client application</li>
            </ul>
          </div>
          <div class="stage">
            <h3>Beta<span>..v0.1.0</span></h3>
            <h4>Goal</h4>
            <ul class="goal">
              <li>To get initial public beta users also besides friends</li>
              <li>Make it scalable web service</li>
            </ul>
            <h4>Milestones</h4>
            <ul class="beta">
              <li>Experimental public developer API</li>
              <li>Scalable log ingestion API</li>
              <li>TUI client application which written with Ncurses</li>
              <li>Initial release of native desktop applications (GTK, UWP and Mac)</li>
            </ul>
          </div>
          <div class="stage">
            <h3>Public release<span>..v1.0.0</span></h3>
            <h4>Goal</h4>
            <ul class="goal">
              <li>To have active daily users</li>
            </ul>
            <p class="goal"></p>
            <h4>Milestones</h4>
            <ul class="release">
              <li>Public logs view sharing support</li>
              <li>Activity report with graphs</li>
              <li>Initial release of mobile applications (Android, iOS and PWA)</li>
              <li>Trial account support</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{%- endblock content -%}
