{% extends "_layout.html" %}

{% block content -%}
<section class="product">
  <div class="grid">
    <div class="head row">
      <h1 class="logo">
        <img class="logo-mark" width="46" height="46" src="{{ get_url(path='img/eloquentlog-logo-72x72.png') }}" alt="Eloquentlog" />
        <span class="logo-type">Eloquentlog</span>
      </h1>
    </div>
    <div class="row">
      <div class="column-8 column-l-16">
        <p class="description">
          An activity log sharing service to get profound motivation from each other.<br/>
          It's fully open source, and actively on <a href="https://gitlab.com/eloquentlog">GitLab.com</a>.
        </p>
        <p>The repositories are mirrored also on <a href="https://github.com/eloquentlog">GitHub</a>.</p>
        <p>
          <a href="https://gitlab.com/eloquentlog/eloquentlog/tree/trunk"><img src="https://img.shields.io/badge/Status-Alpha-yellow.svg" alt="status" /></a>
          <a rel="nofollow" href="https://eloquentlog.zulipchat.com/"><img src="https://img.shields.io/badge/Chat-Join_Zulip-4ebfac.svg" alt="project chat" /></a>
        </p>

        <div class="screenshots">
          <h2>Screenshots</h2>
          <a rel="nofollow" href="{{ get_url(path='img/eloquentlog-web-console-20200715.png') }}"><img class="screenshot" height="180" src="{{ get_url(path='img/eloquentlog-web-console-20200715.png') }}" alt="Screenshot (20200715)" /></a>
          <span class="caption">...dark mode support ;)</span>
        </div>

        <div class="repositories">
        <h2>Repositories</h2>
        <ul>
          <li>
            <a href="https://gitlab.com/eloquentlog/eloquentlog-console-api">Eloquentlog Console API</a>
            ...
            <span class="tag">Rust</span>
            <span class="tag">Rocket</span>
            <span class="tag">Diesel</span>
          </li>
          <li>
            <a href="https://gitlab.com/eloquentlog/eloquentlog-web-console">Eloquentlog Web Console</a>
            ...
            <span class="tag">Typescript</span>
            <span class="tag">Stylus</span>
            <span class="tag">Rollup</span>
            <span class="tag">Inferno</span>
          </li>
          <li>
            <a href="https://gitlab.com/eloquentlog/eloquentlog-cli">Eloquentlog CLI</a>
            ...
            <span class="tag">Rust</span>
          </li>
          <li>
            <a href="https://gitlab.com/eloquentlog/eloquentlog-desktop-gtk">Eloquentlog Desktop GTK</a>
            ...
            <span class="tag">Rust</span>
            <span class="tag">GTK</span>
          </li>
          <li>
            <a href="https://gitlab.com/eloquentlog/eloquentlog">Eloquentlog</a>
            ...
            <span class="tag">Docker</span>
            <span class="tag">Docker Compose</span>
            <span class="tag">Docker Swarm</span>
          </li>
          <li>
            <a href="https://gitlab.com/eloquentlog/eloquentlog-website">Eloquentlog Website</a>
            ...
            <span class="tag">Zola</span>
          </li>
        </ul>
        <div>

        <div class="roadmap">
          <h2>Roadmap</h2>
          <div class="stage">
            <h3>Alpha<span class="version">..&nbsp;v0.0.1</span></h3>
            <h4>Goals</h4>
            <ul class="goal">
              <li>To make core service concept clear</li>
              <li>To create sustainable development cycle towards to the initial Beta</li>
            </ul>
            <h4>Milestones</h4>
            <ul class="alpha">
              <li><span class="check">√</span><del>Foundational authentication mechanism</del></li>
              <li><span class="check">√</span><del>Basic web UI components</del></li>
              <li><span class="check">√</span><del>Account management interface</del></li>
              <li><span class="check">√</span><del>Create a public staging environment for APIs and web console</del> ー <a href="https://web.eloquentlog.com/" rel="nofollow">web.eloquentlog.com</a></li>
              <li><span class="check">√</span><del>Automated deployment</del></li>
              <li>Basic logging (ingestion) interface</li>
              <li>Experimental CLI client application</li>
            </ul>
          </div>
          <div class="stage">
            <h3>Beta<span>v0.0.1&nbsp;..&nbsp;v0.1.0</span></h3>
            <h4>Goals</h4>
            <ul class="goal">
              <li>To get initial public beta users also besides friends</li>
              <li>Make it scalable web service</li>
            </ul>
            <h4>Milestones</h4>
            <ul class="beta">
              <li>Experimental public developer API</li>
              <li>Scalable log ingestion API</li>
              <li>TUI client application which written with Ncurses</li>
              <li>Initial release of native desktop applications (GTK, UWP and Mac)</li>
            </ul>
          </div>
          <div class="stage">
            <h3>Public release<span>v0.1.0&nbsp;..&nbsp;v1.0.0</span></h3>
            <h4>Goals</h4>
            <ul class="goal">
              <li>To have active daily users</li>
            </ul>
            <p class="goal"></p>
            <h4>Milestones</h4>
            <ul class="release">
              <li>Public logs view sharing support</li>
              <li>Activity report with graphs</li>
              <li>Initial release of mobile applications (Android, iOS and PWA)</li>
              <li>Trial account support</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{%- endblock content -%}
