body {
  background: #ffffff;
  font-family: 'Open Sans', sans-serif;
  zoom: 100%;
}

header,
footer {
  margin-left: 0.18rem;
}

header {
  padding-left: 0.39rem;
}

footer {
  margin-top: 2.98rem;
  padding-left: 0.71rem;
}

footer a {
  display: inline-block;
  margin-left: 0.36rem;
  font-size: 97%;
}

.wrapper section {
  padding: 0.72rem 1.21rem;
}

p,
ul {
  font-family: 'Roboto Slab', sans;
  line-height: 1.36em;
}

del > a {
  text-decoration: line-through;
}

a[target="_blank"]:hover {
  text-decoration-style: wavy;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
}

.description {
  margin-left: 0.12rem;
}

h2 {
  font-size: 1.38em;
  border-bottom: 1px dashed darkgray;
  max-width: 18rem;
  margin-bottom: 1.21rem;
}

h3 {
  font-size: 1.192em;
  border-bottom: 1px solid #e6e6e6;
  max-width: 19rem;
  margin-top: 1.81rem;
}

h4 {
  font-size: 0.992em;
  max-width: 9rem;
  margin: 0 0;
}

h3 span {
  display: inline-block;
  margin-left: 0.65rem;
  font-size: 0.86rem;
  color: gray;
}

.check {
  display: inline-block;
  margin: 0 0.43rem 0 0;
  padding: 0;
  color: green;
  font-family: monospace;
  font-weight: bold;
  font-size: 110%;
}

li del {
  color: gray;
}

.screenshots {
  margin: 2.62rem 0;
}

.screenshots img {
  display: block;
  margin: 0 0 0.12rem 0;
}

.screenshots img:hover {
  opacity: 0.8;
}

.screenshots span.caption {
  font-family: monospace;
  font-size: 0.88rem;
  color: gray;
}

.repositories li {
  line-height: 1.43em;
}

.repositories li .tag {
  line-height: 1.43em;
  display: inline-block;
  margin: 0 0 0 0.18rem;
  background-color: #f3f3f3;
  border-radius: 0.21rem;
  padding: 0 0.26rem;
  color: #666666;
  font-size: 72%;
}

.stage {
  margin-top: 2.81rem;
}

.roadmap {
  margin: 3.3rem 0;
}

.logo {
  margin-left: -0.64rem;
}

.logo .logo-type {
  display: inline-block;
  margin-top: -1.802rem;
  margin-left: 0.19rem;
  vertical-align: middle;
}
